<% if @user_details[:err] %>
    <%= @user_details[:message] %>
<% else %>
    <table border="1">
      <% @user_details.attributes.each do |k,v| %>
        <tr>
          <td><%= k.capitalize %>:     </td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
<% end %>