<% if @user_details[:err] %>
    <div style="color:red"><%= @user_details[:message] %></div>
<% else %>
    <table border="1">
      <caption>User Details</caption>
      <% @user_details.attributes.each do |k,v| %>
        <tr>
          <td><%= k.capitalize %>:     </td>
          <td><%= v %></td>
        </tr>
      <% end %>
    </table>
<% end %>

</br></br>
<a href="/user">Go Back</a>