<%= flash[:notice] %>
</br></br>
<form action="/set_user_details">
Enter your access token => <input type="text" name="fb_access_token"/>
<input type="submit" value="Get & Save User Details"/>
</form>